Flask==2.2.3
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
Werkzeug==2.2.3
Jinja2==3.1.2
itsdangerous==2.1.2
MarkupSafe==2.1.2
SQLAlchemy==1.4.46
WTForms==3.0.1
python-dotenv==1.0.0
Pillow==11.1.0
markdown==3.4.1